<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:hive="http://typo3.org/ns/HIVE/HiveViewhelpers/ViewHelpers"
      xmlns:hiveimg="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages />

    <div id="hiveextcookie_notice_render" class="hiveextcookie_notice_render cookie__container {container_classes}">
        <div class="cookie__row {row_classes}">

            <f:debug>{aHtml}</f:debug>

        </div>
    </div>

</f:section>

</html>